name: Build

on:
  push:
  pull_request:

jobs:
  build:
    strategy:
      matrix:
        configuration: [Release]
        targetplatform: ["Any CPU"]

    runs-on: windows-2022
    env:
      Solution_Name: OKP.sln

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Setup .NET Core SDK
      uses: actions/setup-dotnet@v3.0.3
      with:
        dotnet-version: 6.x

    - name: Setup MSBuild.exe
      uses: microsoft/setup-msbuild@v1

    - uses: nuget/setup-nuget@v1
      with:
        nuget-version: '6.x'

    - name: Restore Nuget packages
      run: nuget restore $env:Solution_Name

    - name: Restore the application
      run: msbuild $env:Solution_Name /t:Restore /p:Configuration=$env:Configuration
      env:
        Configuration: ${{ matrix.configuration }}

    - name: Build the Application Project
      run: msbuild $env:Solution_Name /p:Platform="$env:TargetPlatform" /p:Configuration=$env:Configuration /p:UapAppxPackageBuildMode=$env:BuildMode /p:AppxBundle=$env:AppxBundle
      env:
        AppxBundle: Never
        BuildMode: SideloadOnly
        Configuration: ${{ matrix.configuration }}
        TargetPlatform: ${{ matrix.targetplatform }}

    - name: Upload build artifacts
      uses: actions/upload-artifact@v3.1.1
      with:
        name: Package-${{ matrix.configuration }}
        path: |
          OKP.Core\bin\${{ matrix.configuration }}\
